#progressoutborder{
    background-color: rgba(10, 69, 244, 0.4);
    border: 4px solid white;
    border-radius: 10px;
    height: 700px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#progressinborder{
    background-color: rgba(255,255,255,0.2);
    width: 330px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#progresselement{
    margin-top: 10px;
    background-color: rgba(244, 10, 244, 0.1);
    width: 310px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: rgb(0, 76, 255);
}
p{
    margin:5px;
}
#progresstitle{
    display: flex;
    flex-direction: row;

}
#progress{
    padding-right: 5px;
}
#progressratio{
    color: rgba(0,0,0,0.6);

}